.open,
.close {
    border: soid 1px var(--gray-25);
}

/* 見出し */
.heading {
    font-size: var(--body);
}

.heading button {
    all: unset;
    outline: revert;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

/* 見出しのアイコン */
.icon {
    color: var(--gray-25);
    font-size: 1.225em;
    transition: transform 0.5s;
}

.open .icon {
    transform: rotate(180deg);
}

/* テキスト */
.text {
    overflow: hidden;
    height: 0px;
    transition: height 0.5s;
}

.open .text {
    height: var(--text-height);
}

.textInner {
    padding: 0 1.14em 1.14em;
    font-size: calc(var(--body) * 0.875);
}