.text {
    padding: 20px;
    border: solid 2px currentColor;
    color: darkblue;
    animation: slideIn 3s;
}

@keyframes slideIn {
    from{}
    to {}
}

.title {
    font-size: 80px;
}

.subtitle {
    font-size: 20px;
}